/* Base styles */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container for the contact form */
.contact__content {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 0.75rem;
  text-align: center;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title styles */
.contact__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Form styles */
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  width: 100%; /* Ensure the form takes up full width */
}

.contact__form-div {
  position: relative;
  width: 100%; /* Ensure the form fields take up full width */
}

.contact__form-input,
.contact__form-textarea,
.button {
  width: 100%; /* Ensure the inputs and button take up full width */
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

.contact__form-textarea {
  height: 150px;
  resize: none;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  background-color: #1f1f1f;
  padding: 0 0.25rem;
  font-size: 0.875rem;
  color: #ccc;
  border-radius: 0.75rem
  
}

.button {
  background-color: #6200ea;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3700b3;
}
